@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  max-width: 1600px;
  margin: 0 auto;
}
.logo {
  min-width: 140px;
  padding-top: 16px;
  padding-left: 120px;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  display: flex;
  gap: 32px;
  font-size: 16px;
  font-weight: medium;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: black;
}
.btn_1 {
  margin-right: 120px;
  font-size: 16px;
  font-weight: semibold;
  color: #fff;
  background-color: #469165;
  border: 1.5px solid transparent;
  padding: 12px 16px;
  border-radius: 4px;
  &:hover {
    color: #469165;
    background-color: #e8fdf1;
    border: 1.5px solid #469165;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
}
